  <footer>
    <hr class="hr-list">
    <ul>
      <li><a href="https://www.linkedin.com/in/mariedesireecruz/">
        <img class="small-icon" src="../images/linkedin.png" alt="LinkedIn"/>
      </a></li>
      <li><a href="https://www.youtube.com/@TestingwithMarie">
        <img class="small-icon" src="../images/youtube.png" alt="YouTube"/>
      </a></li>
      <li><a href="https://github.com/mdcruz">
        <img class="small-icon" src="../images/github-icon.png" alt="YouTube"/>
      </a></li>
      <li><a href="https://www.testingwithmarie.com/sitemap.xml">
        <img class="small-icon" src="../images/sitemap.png" alt="Sitemap"/>
      </a></li>
    </ul>
    <p>2026 Marie Cruz</p>
  </footer>

